body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../Bilder/frontpage.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1; /* Plasser bak innholdet */
}

/* Legg filter på bakgrunnsbilde */
body {
  background-color: rgb(97, 97, 97);
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Sørg for at body dekker hele visningsområdet */
  width: 100%;
  position: relative; 
  filter: grayscale(0%);
}

/* Når filteret er aktivert */
body.filtered {
  filter: grayscale(100%) brightness(90%);
}

/* Når filteret ikke er aktivert */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9a2e2e;
}

li {
  float: left;
}

li a {
  transition: all 0.2s;
  display: block;
  color: black;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}
/* gjør at boksen på linken til siden du er på blir blå */
li a:hover:not(.active) {
  transition: all 0.2s; 
  background-color: #5f7e83;
}

.active {
  background-color: #7eb9c7;
  font-size: clamp(12px, 3vw, 18px);
  pointer-events: none;
}
.grid-container {
  margin: 0 auto;
  width: 90%;
  display: grid;
  gap: 10px;
  background-color: #b82929;
  padding: 10px;
  position: relative;
}

.grid-item {
  background-color: rgba(204, 117, 117, 0.8);
  text-align: center;
  padding: 5px;
  align-items: center;
}

.index_tekst {
  background-color: rgba(214, 142, 142, 0.8);
  grid-column: 1 / span 1;
  grid-row: 1;
  padding: 30px;
}

.Om_tekst{
  background-color: rgba(214, 142, 142, 0.8);
  @media (max-width: 700px) {
    grid-column: 2 / span 1;
    grid-row: 1/ span 2;
  }
  grid-column: 2 / span 1;
  grid-row: 1;
}
.andre_bilde_Om{
  @media (max-width: 700px) {
    grid-column: 1 / span 1;
    grid-row: 2;
  }
  grid-column: 3 / span 1;
  grid-row: 1;
}

.prosjekter1{/* for alle gridsene på prosjekt siden*/
  grid-column: 1;
  grid-row: 1;
}
.prosjekter2{
  grid-column: 2;
  grid-row: 1;
}
.prosjekter3{
  @media (max-width: 700px) {
    grid-column: 1 / span 1;
    grid-row: 2;
  }
  grid-column: 3;
  grid-row: 1;
}

.button1 {
  text-align: center;
  background-color: #7eb9c7;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  border-radius: 10px;
  border-color: #9a2e2e;
  cursor: pointer;
}
.buttonfilter {
  background-color: #9a2e2e;
  text-align: center;
  padding: 4px 8px;
  border: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  border-color: #9a2e2e;
  cursor: pointer;
}
.buttonfilter:hover{
  background-color: #5f7e83;
}
.buttonfilter::placeholder {
  color: rgb(0, 0, 0);
  text-align: center;
}
.button1:hover{
  background-color: #5f7e83;
}
h1{
  font-size: clamp(32px, 10vw, 50px);
}
h2{
  font-size: clamp(15px, 5vw, 30px);
}

.src1 {
  width: clamp(50px, 15vw, 400px);
}
.src2 {
  width: clamp(50px, 50vw, 400px);
}
.src3 {
  width: clamp(100px, 30vw, 400px);
}
.p1{
  font-size: clamp(16px, 3vw, 30px);
  margin-bottom: 20px; /* Juster mellomrommet her */
}
.p2{
  font-size: clamp(14px, 2vw, 25px);
  margin-bottom: 20px; /* Juster mellomrommet her */
}
.prosjekter_tittel{
  font-size: clamp(10px, 2vw, 20px);
}
.meny{
  font-size: clamp(12px, 3vw, 18px);
}
.meny_emoji{
  font-size: clamp(10px, 3vw, 16px);
}
table {
  border-collapse: collapse;
}

th, td {
  border: 3px solid #7f1010;
  width: 3000px;
  padding: 8px;
  background-color: rgba(214, 142, 142, 0.8);
  text-align: left;
}
tr, tdf {
  text-align: left;
}
li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}