body {
background-image: url(../Bilder/frontpage.png);
background-size: cover;
background-color: #be0808;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9a2e2e;
}

li {
  float: left;
}

li a {
  transition: all 0.2s;
  display: block;
  color: black;
  font-size: 18px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* gjør at boksen på linken til siden du er på blir blå */
li a:hover:not(.active) {
  transition: all 0.2s; 
  background-color: #b93b3b;
}

.active {
  background-color: #7eb9c7;
}
.grid-container {
  display: grid;
  gap: 5px;
  padding: 8px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column; /* Plasserer knappene under hverandre */
  gap: 10px; /* Mellomrom mellom knappene */
}

.item1 {
  grid-column: 1 / span 1;
  grid-row: 1;
}
.item2 {
  grid-column: 2 / span 1;
  grid-row: 1;
}
.item3 {
  grid-column: 3 / span 1;
  grid-row: 1;
}
.item4 {
  grid-column: 4 / span 1;
  grid-row: 1;
}

.button {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 25px;
  border-color: #9a2e2e;
  cursor: pointer;
  
}
.button1 {
  background-color: #7eb9c7;
  
}
.button1:hover {
  background-color: #236577;
  color: white;
}
