
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5dc;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

#game {
    margin: 20px auto;
    width: 400px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff;
}

#score {
    font-size: 24px;
    margin-bottom: 20px;
}

#shop {
    margin-top: 20px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff9900;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
/* Styling for det nye elementet */
.cpc {
    padding: 10px;
    color: #f5f5dc;
    font-size: 30px;
    position: absolute; /* Setter elementet til absolutt posisjonering */
    transform: translateX(-50%); /* Sørger for at elementet er horisontalt sentrert */
    animation: gåopp 2s; 
    pointer-events: none;
}
    @keyframes gåopp {
        0% {
            transform: translateX(-50%) scale(1); /* Beholder sentrering */
            opacity: 0.5; /* Start svak synlighet */
        }
        50% {
            transform: translateX(-50%) scale(1.1); /* Liten vekst for effekt */
            opacity: 1; /* Full synlighet */
        }
        100% {
            transform: translateX(-50%) scale(0.5); /* Krymper litt */
            opacity: 0; /* Fader ut */
            top: -5px; /* Flytter elementet oppover */
        }
    }
    .golden-cookie {
        width: 50px;
        height: 50px;
        background-color: gold;
        border-radius: 50%;
        position: absolute;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        animation: goldencookiespawn 5s ease-in-out;
    }

    @keyframes goldencookiespawn {
        0% {
            transform: translate(-50%, -50%) scale(0.5);
            opacity: 0;
        }
        50% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
        100% {
            transform: translate(-50%, -50%) scale(0.5);
            opacity: 0;
        }
    }
    #cookie{
        position: relative;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        width: 200px;
        cursor: pointer;
        transform: translate(0, 0);
    }
    .groot-swag-click {
        animation: grootswagclick 0.5s;
        position: absolute;
    }
    @keyframes grootswagclick {
        0% {
            transform:  scale(0.95);
        }
        50% {
            transform: scale(0.9);
        }
        100% {
            transform: scale(1.0);
        }
    }